Repository Jocelyn-JE/AREA-51, pull requests merged in 2025-09, with the labels that each got.

#9 Implement basic PoC HTTP servers
  pocs/server/python/server.py
  pocs/server/typescript/index.ts
  pocs/server/typescript/package-lock.json
  pocs/server/typescript/package.json
Labels: back feature, poc

#11 Area 2 proof of concept
  front/poc/area-angular/.editorconfig
  front/poc/area-angular/.gitignore
  front/poc/area-angular/.vscode/extensions.json
  front/poc/area-angular/.vscode/launch.json
  front/poc/area-angular/.vscode/tasks.json
  front/poc/area-angular/README.md
  front/poc/area-angular/angular.json
  front/poc/area-angular/package-lock.json
  front/poc/area-angular/package.json
  front/poc/area-angular/public/favicon.ico
  front/poc/area-angular/src/app/app.config.ts
  front/poc/area-angular/src/app/app.css
  front/poc/area-angular/src/app/app.html
  front/poc/area-angular/src/app/app.spec.ts
  front/poc/area-angular/src/app/app.ts
  front/poc/area-angular/src/index.html
  front/poc/area-angular/src/main.ts
  front/poc/area-angular/src/styles.css
  front/poc/area-angular/tsconfig.app.json
  front/poc/area-angular/tsconfig.json
  front/poc/area-angular/tsconfig.spec.json
  front/poc/endpoint/about.json
  front/poc/endpoint/index.js
  front/poc/endpoint/package-lock.json
  front/poc/endpoint/package.json
  front/poc/react/README.md
  front/poc/react/eslint.config.js
  front/poc/react/index.html
  front/poc/react/package-lock.json
  front/poc/react/package.json
  front/poc/react/public/vite.svg
  front/poc/react/src/App.css
  front/poc/react/src/App.tsx
  front/poc/react/src/assets/react.svg
  front/poc/react/src/index.css
  front/poc/react/src/main.tsx
  front/poc/react/src/vite-env.d.ts
  front/poc/react/tsconfig.app.json
  front/poc/react/tsconfig.json
  front/poc/react/tsconfig.node.json
  front/poc/react/vite.config.ts
  front/poc/vue/.gitignore
  front/poc/vue/.vscode/extensions.json
  front/poc/vue/README.md
  front/poc/vue/index.html
  front/poc/vue/package-lock.json
  front/poc/vue/package.json
  front/poc/vue/public/vite.svg
  front/poc/vue/src/App.vue
  front/poc/vue/src/assets/vue.svg
  front/poc/vue/src/components/HelloWorld.vue
  front/poc/vue/src/main.js
  front/poc/vue/src/style.css
  front/poc/vue/vite.config.js
Labels: front feature, poc

#26 Implement database connection in backend
  docker-compose.yml
  server/init-mongo.js
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/mongodb.ts
  server/src/routes/swagger.router.ts
Labels: back feature
